// Base Colors (Dark & Light Variants)
$black: #211F2C // Deep Background
$red: #CA575A // Error / Critical
$green: #AB6148 // Success / OK
$yellow: #4955A2 // Warning / Attention
$blue: #153D70 // Primary Accent
$magenta: #481F38 // Secondary Accent
$cyan: #471C31 // Tertiary Accent
$white: rgb(255, 255, 255) // Foreground / Text

// Bright Variants
$bright-black: #211F2C // Muted Background
$bright-red: #CA575A // Bright Error
$bright-green: #AB6148 // Bright Success
$bright-yellow: #4955A2 // Bright Warning
$bright-blue: #153D70 // Bright Primary
$bright-magenta: #481F38// Bright Secondary
$bright-cyan: #471C31 // Bright Tertiary
$bright-white: #1C1717 // Bright Foreground

$rosewater: $bright-white
$flamingo: $bright-red
$pink: $bright-magenta
$mauve: $magenta
$red: $red
$peach: $bright-yellow
$yellow: $yellow
$green: $green
$teal: $cyan
$blue: $blue
$sapphire: $bright-blue
$lavender: $bright-magenta
$text: $white
$subtext1: $bright-white
$overlay0: $black
$base: $black



// for older stuff

$color0 : #C4C3C8
$color1 : #A6494C
$color2 : #8F523D
$color3 : #3E4788
$color4 : #102E54
$color5 : #361729
$color6 : #351427
$color7 : #544444
$color8 : #211F2C
$color9 : #CA575A
$color10 : #AB6148
$color11 : #4955A2
$color12 : #153D70
$color13 : #481F38
$color14 : #471C31
$color15 : #1C1717

